{% extends 'base.html' %}

{% block title %}
Все пользователи
{% endblock %}

{% block content %}
<h1 class="mb-5">Пользователи</h1>

<div class="card-columns">
  <div class="row">
  {% for user in users %}
    <div class="col-md-3">
      <div class="card mb-3">

          <div class="card-body">
              <p class="card-text">Пользователи:
              <p class="card-text">Название: {{ user.name }}</p>
              <p class="card-text">Баланс: {{ user.balanse }}</p>
              <p class="card-text">Ставка комиссии: {{ user.commission_rate }}</p>
              <p class="card-text">Вебхук: {{ user.URL_webhook }}</p>
          </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}